.login-form[_ngcontent-c2] {
    background: black;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    margin: auto;
    padding: .5rem;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 60%;
    width: 80%;
}
  p{
      color:white
  }
  select{
      margin-left:15%
  }